<% provide(:title, 'About Us') %>
<h1>About honky</h1>
<p>
  This application was made by @ibarroladt following the 
  <a href="http://railstutorial.org/">Ruby on Rails Hartl Tutorial</a>. 
  It is a partial replication of Tweeter made for learning purpuses.  
</p>